/* .my-form{
    min-width: 50px;
    max-width: 600px;
    width: 98%;
    margin-left:10%;
    
  }
  .mat-toolbar{
    max-width: 600px;
    margin-left:10%;
  }
  .my-card{
    padding-top: 6%;
    padding-left:20%; 
    padding-right:20%; 
    padding-bottom: 8%;
  }
  .full-width {
    width: 100%;
  }
  .password
  {
    color: rgb(247, 18, 18);
    font-size: 0.8rem;
  }
  .body{
    padding-top:5%; 
    padding-left: 20rem;
    padding-right: 30rem;
  } */
  .my-form{
    min-width: 100px;
    max-width: 600px;
    width: 98%;
    margin-left:10%;
    
  }
  .mat-toolbar{
    max-width: 600px;
    margin-left:10%;
    min-width: 100px;
  }
  .my-card{
    padding-top: 6%;
    padding-left:20%; 
    padding-right:20%; 
    padding-bottom: 8%;
  }
  .full-width {
    width: 100%;
  }
  .password
  {
    color: rgb(247, 18, 18);
    font-size: 0.8rem;
  }
  .body{
    padding-top:5%; 
    padding-left: 20rem;
    padding-right: 30rem;
  }